# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log

# IDE
.vs/
.vscode/
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json

# Misc
.DS_Store
Thumbs.db