USE [master]
GO
/****** Object:  Database [multi_tenant_db]    Script Date: 21/05/2026 6:46:09 p. m. ******/
CREATE DATABASE [multi_tenant_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'multi_tenant_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\multi_tenant_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'multi_tenant_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\multi_tenant_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [multi_tenant_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [multi_tenant_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyectos]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[WorkspaceId] [int] NOT NULL,
 CONSTRAINT [PK_Proyectos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Workspace]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Workspace](
	[UsuarioId] [int] NOT NULL,
	[WorkspaceId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Workspace] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workspaces]    Script Date: 21/05/2026 6:46:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workspaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Workspaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260521220540_InitialCreate', N'9.0.16')
GO
SET IDENTITY_INSERT [dbo].[Proyectos] ON 

INSERT [dbo].[Proyectos] ([Id], [Nombre], [WorkspaceId]) VALUES (1, N'Proyecto Alpha', 1)
INSERT [dbo].[Proyectos] ([Id], [Nombre], [WorkspaceId]) VALUES (2, N'Proyecto Alpha 2', 1)
INSERT [dbo].[Proyectos] ([Id], [Nombre], [WorkspaceId]) VALUES (3, N'Proyecto Beta 1', 2)
SET IDENTITY_INSERT [dbo].[Proyectos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Editor')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (3, N'Lector')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Usuario_Workspace] ([UsuarioId], [WorkspaceId], [RolId]) VALUES (1, 1, 1)
INSERT [dbo].[Usuario_Workspace] ([UsuarioId], [WorkspaceId], [RolId]) VALUES (4, 1, 2)
INSERT [dbo].[Usuario_Workspace] ([UsuarioId], [WorkspaceId], [RolId]) VALUES (1, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Email], [Password]) VALUES (1, N'admin@gmail.com', N'$2a$11$ydqvSD7yQ88lg6kCm..wUuGLp1pMqiY7RJqoyOYpQd6x4t0uWEUl.')
INSERT [dbo].[Usuarios] ([Id], [Email], [Password]) VALUES (4, N'test1@ejemplo.com', N'$2a$11$ydqvSD7yQ88lg6kCm..wUuGLp1pMqiY7RJqoyOYpQd6x4t0uWEUl.')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Workspaces] ON 

INSERT [dbo].[Workspaces] ([Id], [Nombre]) VALUES (1, N'Alfa')
INSERT [dbo].[Workspaces] ([Id], [Nombre]) VALUES (2, N'Beta')
SET IDENTITY_INSERT [dbo].[Workspaces] OFF
GO
/****** Object:  Index [IX_Proyectos_WorkspaceId]    Script Date: 21/05/2026 6:46:10 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Proyectos_WorkspaceId] ON [dbo].[Proyectos]
(
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuario_Workspace_RolId]    Script Date: 21/05/2026 6:46:10 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Workspace_RolId] ON [dbo].[Usuario_Workspace]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuario_Workspace_WorkspaceId]    Script Date: 21/05/2026 6:46:10 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_Workspace_WorkspaceId] ON [dbo].[Usuario_Workspace]
(
	[WorkspaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proyectos]  WITH CHECK ADD  CONSTRAINT [FK_Proyectos_Workspaces_WorkspaceId] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[Workspaces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proyectos] CHECK CONSTRAINT [FK_Proyectos_Workspaces_WorkspaceId]
GO
ALTER TABLE [dbo].[Usuario_Workspace]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Workspace_Roles_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Workspace] CHECK CONSTRAINT [FK_Usuario_Workspace_Roles_RolId]
GO
ALTER TABLE [dbo].[Usuario_Workspace]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Workspace_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Workspace] CHECK CONSTRAINT [FK_Usuario_Workspace_Usuarios_UsuarioId]
GO
ALTER TABLE [dbo].[Usuario_Workspace]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Workspace_Workspaces_WorkspaceId] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[Workspaces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario_Workspace] CHECK CONSTRAINT [FK_Usuario_Workspace_Workspaces_WorkspaceId]
GO
USE [master]
GO
